
.robot {
    max-width: 100%;
    max-height: 100%;
}

.up {
    rotate: 270deg;
}

.right {
    rotate: 0deg;
}

.down {
    rotate: 90deg;
}

.left {
    rotate: 180deg;
}

.wall {
    background-color: grey;
}

.floor {
    background-color: lightgray;
}

.target {
    background-color: greenyellow;
}

.maze {
    width: fit-content;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.cell {
    width: 30px;
    height: 30px;
    margin: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    object-fit: contain;
}

.success {
    color: darkgreen;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}